body{
	padding:0 50px;
	margin:0px;
	overflow:hidden;
}
#field {
	position:absolute;
	width:600px; 
	height:600px;
	text-align:center;
}
#car {
	position:absolute;
	height:200px;
	background-color:#F1F9F9;
	background-image:url(car.png);
	background-size:cover;
	background-repeat:no-repeat;
} 
.side_block {
	position:absolute;
	width:50px; 
	height:150px;          
	background-color:#CCCCCC;
}
.block {
	position:absolute;
	width:150px; 
	height:50px;          
	background-color:#666666;
}
