html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	font-size:16px; 
	padding: 20px;
	color:#008d9b;
}


/* Search view */
.form{
	margin-top:30%;
}
.current{
	border-bottom:1px dotted #008d9b;
	cursor:pointer;
}
.container{
	width:100%;
	max-width:600px;
	margin:0 auto;
	text-align:center;
}
.src_box, .src_btn{
	text-align:center;
	margin: 0;
    padding: 0;
	height:40px;
}
.src_btn{
	outline: none;
	float:right;
	border:none;
	cursor:pointer;
	background-image: url(icons/search.svg);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	background-position: center;
	width: 50px;
    margin-left: -150px;
}
.src_box{
	border:none;
	width:100%;
	outline: none;
	background:none;
	float:left;
	font-size:28px;
	border-bottom:1px solid #008d9b;
}



/*Weather data view*/
#temp{
	font-size:90px;
}
.wi-direction-left{
	font-size:45px;
	float:left;
}
#city{
	padding:5px 15px; 
	margin-top:0px;
}
.list_icon{
	font-size:40px;
}
.left{
	float:left; 
	clear:right;
}
.right{
	float:right; 
	clear:right;
}
#date, #weather{
	font-weight:300;
	text-transform: capitalize;
}
.row{
	clear: both;
	float: none;
}
.main_icon{
	padding:0px 30px;
}
.center{
	text-align:center;
}
.seven{
	width:14%;
	min-width:80px;
}
.today{
	color:#ff856a;
}
.day_details{
	padding:10px 0;
}



/* Scale type radio button*/
.onoffswitch {
	float:right;
	position: relative; width: 90px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "°C";
	padding-left: 10px;
	background-color: #FFFFFF; color: #999999;
}
.onoffswitch-inner:after {
	content: "°F";
	padding-right: 10px;
	background-color: #FFFFFF; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 56px;
	border: 1px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}